doctype strict
html(lang='en')

  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/main.css')

  body
    #logo_nav
      span(data-page='home').logo

      #nav
        ul.nav__main
          li(data-page='home').nav_item__main.nav_item_page.selected home
          li(data-page='collection_zero').nav_item__main.nav_item_page collection zero
          li.nav_item__main: a(href='http://thetenusa.tumblr.com/', target='_blank') style journal
          li(data-page='philosophy').nav_item__main.nav_item_page philosophy
          li(data-page='contact').nav_item__main.nav_item_page contact

        ul.nav__social
          li.nav_item__social: a(href='https://twitter.com/theTENusa', target='_blank') twitter
          li.nav_item__social: a(href='https://www.facebook.com/thetenusa', target='_blank') facebook
          li.nav_item__social: a(href='https://instagram.com/thetenusa', target='_blank') instagram
          li.nav_item__social: a(href='https://www.pinterest.com/thetenusa', target='_blank') pinterest

    #pages

      #home.page.bg_img.bg_img__cover.selected

      #collection_zero.page.bg_img.bg_img__contain.backdrop.backdrop__repeat_x
        ul#collection_zero_item_shell
          each item in pages.collection_zero.items
            li&attributes(item)
        .collection_nav_shell
          span.collection_nav_arrow.collection_nav__left
          span.collection_nav_info__single
          span.collection_nav_info__double
            span.topId
            span.bottomId
          span.collection_nav_arrow.collection_nav__right.active

      #philosophy.page.bg_img.bg_img__cover
        table.philosophy__body.table__center: tr: td
          each text in pages.philosophy.content
            p= text

      #contact.page.backdrop.backdrop__repeat_x
        table.table__center: tr: td
          - var contact = pages.contact
          .info__organization
            p!= contact.organization.name
            p!= contact.organization.city
            p!= contact.organization.phone
            p: a(href='mailto:#{contact.organization.email}')!= contact.organization.email

          .info__credits
            p
              each credit, i in contact.credits
                if i > 0
                  span.credit_separator &nbsp;/&nbsp;
                span
                  | #{credit.category}:&nbsp;

                  if credit.url
                    a(href='#{credit.url}', target='_blank', rel='nofollow')!= credit.name
                  else
                   != credit.name

          h1.message__signup!= contact.signupMessage

          include inc/signup_form
    #footer
      p &copy; 2015 theTEN Apparel, Inc. All rights reserved

    each script in scripts
      script(src!=script)

